body{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/backgound.jpg);
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    position: relative;
}

.login{
    border: 2px solid white;
    max-width: 100% ;
    height: auto;
    background: url(img/number-pizzaInput.jpg);
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
    
}

form{
    display: block;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h1{
    font-weight: normal;
    font-size: 24px;
    text-shadow: 0, 0, 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
    text-align: center;
}

label{
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding-left: 10px;
    text-align: center;
}

input{
    background: rgba(0, 0, 0, 0);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: 2px solid white;
    margin-bottom: 20px;
    color: white;
}

button{
    background: rgba(0, 0, 0, 0);
    height: 40px;
    line-height: 40px;
    border: 2px solid white;
    border-radius: 20px;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    color: white;
    transition: background-color 0.8s;
}

.login button:hover{
    background-color: white;
    color: black;
}

/* visual pizza container */

.pizzaCard {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 15px;
    border-radius: 1rem;
    text-align: center;
}

.pizzaCard img{
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
}

.error{
    color: red;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    width: 100%;
}